.jumbotron {
    background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding-left: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0px;
}

.btn {
    border-radius: 0;
    margin-top: 30px;
}

.lead {
    font-size: 1rem;
}

.modal-content {
    padding: 50px;
    width: 600px;
}

.lead-quote {
    font-size: 0.9em;
    color: #777777;
    padding-top: 118px;
    padding-right: 40px;
}